__pycache__/
*.pyc
.env

# Ignore data content but keep structure
data/*
!data/raw/
!data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep

# Ignore models but keep folder
models/*
!models/.gitkeep
